body {
  padding: 0;
  margin: 2rem;
  line-height: 1.7rem;
}

.blog-post, .blog-post-nav {
  max-width: 640px;
}

.main-heading {
  font-size: 1rem;
  font-weight: normal;
}

#index-post-list {
  list-style: none;
  padding-left: 0;
}
